<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'header.html' %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% for i, file in files %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading {{ i }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ i }}" aria-expanded="true" aria-controls="collapse{{ i }}">
                                {{ file }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ i }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ i }}">
                        <div class="panel-body">
                            <div class="embed-responsive embed-responsive-16by9">
                                <video controls>
                                    <source src="{{ path + file }}" type="video/mp4">
                                    Your browser does not seem to support the HTML5 standard.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
